<ng-progress [thick]="true"></ng-progress>

<span *ngIf="module">
  <h2 class="title">Module #{{ module.id }}</h2>

  <!-- Tracker if the build has failed -->
  <ul *ngIf="module.state_name == 'failed' || module.state_name == 'garbage'" class="build-tracker build-tracker-failed">
    <li>Init</li>
    <li>Wait</li>
    <li>Build</li>
    <li>Done</li>
    <li>{{ module.state_name.charAt(0).toUpperCase() + module.state_name.slice(1) }}</li>
  </ul>
  <!-- Tracker if the build has succeeded -->
  <ul *ngIf="module.state_name != 'failed' && module.state_name != 'garbage'" class="build-tracker">
    <li [ngClass]="{'build-tracker-step-done': module.state > 0, 'build-tracker-step-active': module.state == 0}">Init</li>
    <li [ngClass]="{'build-tracker-step-done': module.state > 1, 'build-tracker-step-active': module.state == 1}">Wait</li>
    <li [ngClass]="{'build-tracker-step-done': module.state > 2, 'build-tracker-step-active': module.state == 2}">Build</li>
    <li [ngClass]="{'build-tracker-step-done': module.state > 3, 'build-tracker-step-active': module.state == 3}">Done</li>
    <li [ngClass]="{'build-tracker-step-done': module.state >= 4}">Ready</li>
  </ul>

  <table class="table table-hover table-bordered">
    <thead>
      <td scope="col">Property</td>
      <td scope="col">Value</td>
    </thead>
    <tbody>
      <tr>
        <td scope="row">Components</td>
        <td scope="row">{{ num_built_components }}/{{ num_components }} complete</td>
      </tr>
      <tr *ngIf="module.context !== undefined">
        <td scope="row">Context</td>
        <td scope="row">{{ module.context }}</td>
      </tr>
      <tr>
        <td scope="row">ID</td>
        <td scope="row">{{ module.id }}</td>
      </tr>
      <tr>
        <td scope="row">Koji Build Tag</td>
        <td scope="row">
          <a *ngIf="module.koji_tag" target="_blank"
              href="{{ kojiUrl + 'search?match=exact&type=tag&terms=' + module.koji_tag + '-build' }}">
            {{ module.koji_tag + '-build' }}
          </a>
        </td>
      </tr>
      <tr>
        <td scope="row">Koji Tag</td>
        <td scope="row">
          <a *ngIf="module.koji_tag" target="_blank"
              href="{{ kojiUrl + 'search?match=exact&type=tag&terms=' + module.koji_tag }}">
            {{ module.koji_tag }}
          </a>
        </td>
      </tr>
      <tr>
        <td scope="row">Name</td>
        <td scope="row">{{ module.name }}</td>
      </tr>
      <tr>
        <td scope="row">Owner</td>
        <td scope="row">{{ module.owner }}</td>
      </tr>
      <tr>
        <td scope="row">Rebuild Strategy</td>
        <td scope="row">{{ module.rebuild_strategy }}</td>
      </tr>
      <tr>
        <td scope="row">State</td>
        <td scope="row">
          {{ module.state_name.toUpperCase().charAt(0) + module.state_name.slice(1) }}
        </td>
      </tr>
      <tr>
        <td scope="row">State Reason</td>
        <td scope="row">{{ module.state_reason }}</td>
      </tr>
      <tr>
        <td scope="row">Stream</td>
        <td scope="row">{{ module.stream }}</td>
      </tr>
      <tr>
        <td scope="row">Time Completed</td>
        <td scope="row">{{ module.time_completed }}</td>
      </tr>
      <tr>
        <td scope="row">Time Modifed</td>
        <td scope="row">{{ module.time_modified }}</td>
      </tr>
      <tr>
        <td scope="row">Time Submitted</td>
        <td scope="row">{{ module.time_submitted }}</td>
      </tr>
      <tr>
        <td scope="row">Version</td>
        <td scope="row">{{ module.version }}</td>
      </tr>
    </tbody>
  </table>
</span>
