<ng-progress [thick]="true"></ng-progress>

<h2 class="title">Modules</h2>

<table class="table table-hover table-bordered" infinite-scroll (scrolled)="onScrollDown()">
  <thead>
    <td>ID</td>
    <td>Name</td>
    <td>Stream</td>
    <td>Version</td>
    <td>Owner</td>
  </thead>
  <tbody>
    <tr *ngFor="let module of modules">
      <td>{{ module.id }}</td>
      <td>{{ module.name }}</td>
      <td>{{ module.stream }}</td>
      <td>{{ module.version }}</td>
      <td>{{ module.owner }}</td>
    </tr>
  </tbody>
</table>
