table thead {
    th {
        width: 20%;
        white-space: nowrap;
    }
    #nameHeader {
        width:30%;
    }
}

// Landscape phones and smaller
@media (max-width: 767px) {
    table {
        // Don't display the context column on larger screens
        #contextHeader, td.context {
            display: none;
        }
    }
}
