<h2 class="title">Modules</h2>

<table class="table table-responsive-sm table-hover table-bordered mbs-list-table" infinite-scroll (scrolled)="onScrollDown()">
  <thead>
    <tr>
      <th *ngFor="let header of ['ID', 'Name', 'Stream', 'Version', 'Context', 'State']"
          [attr.id]="header.toLowerCase() + 'Header'" scope="col">
        <a *ngIf="header != 'Context'" [routerLink]="['/modules', {'orderBy': header.toLowerCase(), 'orderDirection': getOrderDirection(header)}]"
            [ngClass]="getArrowClass(header)">
          {{ header }}
        </a>
        <ng-container *ngIf="header === 'Context'">
          {{ header }}
        </ng-container>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let module of modules">
      <td scope="row"><a [routerLink]="['/module', module.id]">{{ module.id }}</a></td>
      <td scope="row">{{ module.name + (module.scratch ? ' (scratch)' : '') }}</td>
      <td scope="row">{{ module.stream }}</td>
      <td scope="row">{{ module.version }}</td>
      <td *ngIf="module.context !== undefined" scope="row" class="context">{{ module.context }}</td>
      <td class="{{ getStateCssClass(module) }}" scope="row">
        {{ module.state_name.toUpperCase().charAt(0) + module.state_name.slice(1) }}
      </td>
    </tr>
  </tbody>
</table>
