<ng-progress [thick]="true"></ng-progress>

<h2 class="title">Modules</h2>

<table class="table table-responsive-sm table-hover table-bordered mbs-list-table" infinite-scroll (scrolled)="onScrollDown()">
  <thead>
    <ng-container *ngFor="let header of ['ID', 'Name', 'Stream', 'Version', 'Context', 'State']">
      <th *ngIf="header !== 'Context' || (modules.length && modules[0].context !== undefined)"
          [attr.id]="header.toLowerCase() + 'Header'" scope="col">
        <a [routerLink]="['/modules', {'orderBy': header.toLowerCase(), 'orderDirection': getOrderDirection(header)}]"
            [ngClass]="getArrowClass(header)">
          {{ header }}
        </a>
      </th>
    </ng-container>
  </thead>
  <tbody>
    <tr *ngFor="let module of modules">
      <td scope="row"><a [routerLink]="['/module', module.id]">{{ module.id }}</a></td>
      <td scope="row">{{ module.name }}</td>
      <td scope="row">{{ module.stream }}</td>
      <td scope="row">{{ module.version }}</td>
      <td *ngIf="module.context !== undefined" scope="row" class="context">{{ module.context }}</td>
      <td class="{{ getStateCssClass(module) }}" scope="row">{{ module.state_name }}</td>
    </tr>
  </tbody>
</table>
