@media (min-width: 768px) {
    .navbar {
        padding-left: 5em !important;
        padding-right: 5em !important;
    }
}

@media (min-width: 992px) {
    .navbar {
        padding-left: 8em !important;
        padding-right: 8em !important;
    }
}
