.title {
    text-align: center;
    margin-bottom: 1rem;
}

// Landscape phones and larger
@media (min-width: 767px) {
.title {
    margin-bottom: 2rem;
}
}

table {
    thead {
        td {
            font-weight: bold;
        }
    }
}
