$fa-font-path: "../node_modules/font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

.title {
    text-align: center;
    margin-bottom: 1rem;
}

// Landscape phones and larger
@media (min-width: 767px) {
.title {
    margin-bottom: 2rem;
}
}

table.mbs-list-table thead {
    th {
        a {
            text-decoration: none;
            color: #212529;
            display:inline-block;
        }

        a:hover {
            text-decoration: underline;
        }

        a.orderAsc:after {
            font-family: FontAwesome;
            content: '\f077';
            font-weight: lighter;
            display:inline-block;
        }

        a.orderDesc:after {
            font-family: FontAwesome;
            content: '\f078';
            font-weight: lighter;
            display:inline-block;
        }
    }
}
