<ng-progress [thick]="true"></ng-progress>

<h2 class="title">Components</h2>

<table class="table table-responsive-sm table-hover table-bordered mbs-list-table" infinite-scroll (scrolled)="onScrollDown()">
  <thead>
    <th *ngFor="let header of ['ID', 'Module Build', 'Package', 'Task ID', 'State']" scope="col">
      <a *ngIf="header != 'Module Build'" [routerLink]="['/components', {'orderBy': header.toLowerCase().replace(' ', '_'), 'orderDirection': getOrderDirection(header)}]"
          [ngClass]="getArrowClass(header)">
        {{ header }}
      </a>
      <span *ngIf="header == 'Module Build'">{{ header }}</span>
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let component of components">
      <td scope="row">{{ component.id }}</td>
      <td scope="row"><a [routerLink]="['/module', component.module_build]">{{ component.module_build }}</a></td>
      <td scope="row">{{ component.package }}</td>
      <td scope="row">
        <a href="{{ kojiUrl + 'taskinfo?taskID=' + component.task_id }}" target="_blank">
          {{ component.task_id }}
        </a>
      </td>
      <td class="{{ getStateCssClass(component) }}" scope="row">
        {{ component.state_name.charAt(0) + component.state_name.toLowerCase().slice(1) }}
      </td>
    </tr>
  </tbody>
</table>
